@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.eachFilter>li>ul {
    display:none;
}

.eachFilter>li:hover>ul {
    display:block; 
}


.eachFilter>li:hover>button {
    background-color: #bc00dd;
    color: white;
}

.li {
    list-style:none;
}

.btn {
    background-color: #70e000;
    color: black;
    width: fit-content;
    height: 1.7rem;
    border-color: transparent;
    border-radius: 1rem;
    margin: 1%;
    
    font-family: 'Bangers', cursive;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.btn:hover {
    background-color: #bc00dd;
    color: white;
    cursor: pointer;
}

.btn2 {
    background-color: #70e000; 
    width: fit-content;  /*75%;*/
    height: 1.7rem;
    border-color: transparent;
    border-radius: 1rem;
    margin: 1%;
    
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: 0.72rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.btn2:hover {
    background-color: #bc00dd; 
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1200px)
{
    .btn {
        font-size: 0.9rem;
    }
    .btn2 {
        font-size: 0.6rem;
    }
}